.prompet {
  &__content {
    display: flex;
    flex-direction: column;
    // height: 100%;
  }
  &__header {
    display: flex;
    flex-direction: row;
    padding: 10px;
    height: 80px;
    border-radius: 8px 8px 0 0;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
  }
  &__close {
    color: gray;
    font-size: 2px;

    &:hover {
      cursor: pointer;
      color: gray;
    }
  }
  &__body {
    // display: flex;
    // flex-direction: column;
    border-radius: 0 0 8px 8px;
    padding: 10px;
    overflow-y: auto;
    // height: 100%;
  }
}
