	<div class="member  col-12">
		<div class="description">
				<h3>{{this.status}}</h3>
        <h4>{{task!.title}}</h4>
				<p> {{task!.description}}</p>
        <p>{{task!.dueDate}}</p>
        <div class="actions">
          <a (click)="onRead()" class="btn"><i class="fa fa-info-circle"  aria-hidden="true"></i></a>
          <a (click)="onEdit()" class="btn"><i class="fa fa-pencil-square" aria-hidden="true"></i></a>
          <a (click)="onDelete()" class="btn"><i class="fa fa-trash" aria-hidden="true"></i></a>
        </div>
			</div>
		</div>
